[Desktop Entry]
Type=Application
Version=1.0
Name=Nothing_helper
Comment=Control Nothing/CMF earbuds over Bluetooth RFCOMM
Exec=/usr/bin/nothing_helper
Icon=nothing_helper
Terminal=false
Categories=AudioVideo;Utility;
StartupNotify=true
